body {
  text-align: center;
  margin: 0 0;
}

/* Changing colours circle */

.color1{
    background: yellow;
}

.color2{
    background: turquoise;
}

.color3{
    background: coral;
}

.color4{
    background: slateblue;
}

/* Header section */

.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em;
  padding-top: 8em;
  padding-bottom: 45em;
}

h1 {
  font-family: 'Wire One';
  font-size: 13em;
  font-weight: 400;
  margin-top: -.05em;
  margin-bottom: .3em;
}

#circle {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  display: inline-block;
}

#circle:hover {
  cursor: pointer;
}

h2 {
  font-family: 'Wire One';
  font-weight: 400;
  font-size: 2em;
  letter-spacing: .35em;
  color: white;
  text-align: center;
}

.black-background {
  background-color: black;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  padding-top: 4em;
  font-family: 'Wire One';
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: .25em;
}

h4 {
  font-family: 'Wire One';
  font-size: 1.5em;
  font-weight: 300;
}

.white-h4 {
  padding-top: 0.4em;
  color: coral;
  font-size: 2em;
  letter-spacing: 0.35em;
  font-weight: 600;
}

h5 {
  font-family: 'Wire One';
  font-weight: 400;
  font-size: 2em;
  letter-spacing: .35em;
}

/* About me section */

/*.full-black {
  background-color: black;
  padding-top: 5em;
  margin-left: auto;
  margin-right: auto;
  max-height: 100em;
}*/

.intro {
  padding-top: 25em;
}

.small-yellow {
  background-color: black;
  max-width: 25em;
  margin-left: 3em;
  margin-top: -25em;
  margin-right: 3em;
  padding-bottom: 0.5em;
}

.big-yellow {
  background-color: yellow;
  margin-left: 3em;
  margin-right: 3em;
  padding: 2em 2em;
}

.yellow-h5 {
  color: yellow;
  padding-top: .25em;
  font-size: 3em;
  margin-bottom: -0.1em;
  font-weight: 700;
}

.about-me {
  text-align: left;
  font-family: 'Wire One';
  font-size: 1.35em;
  letter-spacing: .1em;
  font-weight: 600;
}

/* Skillset */

.skills {
  padding-top: 5em;
  margin-left: 3em;
  margin-right: 3em;
}

.skill-bg {
  background-color: turquoise;
  padding: 5em;
/*  overflow: hidden;*/
}

.small-green {
  background-color: black;
  max-width: 25em;
  padding-bottom: .5em;
}

.green-h5 {
  color: turquoise;
  padding-top: .25em;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: -0.1em;
}

#ruby {
  padding-right: 1em;
}

#angular {
  padding-right: 1em;
}

#angular:hover {
  content: url('../images/angularjs-logo.png');
}

#ruby:hover {
  content: url('../images/ruby2.png');
}

#html:hover {
  content: url('../images/html2.png');
}

#js:hover {
  content: url('../images/javascript2.png');
}

#css:hover {
  content: url('../images/css2.png');
}

#jquery:hover {
  content: url('../images/jquery3.png');
}

#github:hover {
  content: url('../images/githublogo2.png');
}

/* Portfolio */

.portfolio {
  padding-top: 5em;
  padding-bottom: 6em;
}

.small-pink {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  max-width: 50em;
  margin-bottom: -3em;
}

.pink-h5 {
  padding-top: .25em;
  padding-bottom: 0.25em;
  margin-bottom: -0.1em;
  margin-left: .5em;
  font-size: 3em;
  font-weight: 700;
  color: coral;

}

.black-background-h4 {
  background-color: black;
  width: 500px;
  margin-left: 2em;
  height: 3em;
}

.port-bg {
  padding: 5em;
  margin: 3em;
  background-color: coral;
}

.col-sm-6 {
  opacity: 0.85;
}

.col-sm-6:hover {
  opacity: 1;
}

.port-img, .port-img-2, .port-img-3, .port-img-4, .port-img-5, .port-img-6, .port-img-7, .port-img-8 {
  border: 10px solid black;
}


.tags-all, .tags-all-2, .tags-all-3, .tags-all-4, .tags-all-5, .tags-all-6, .tags-all-7, .tags-all-8 {
  display: none;
  margin-top: -1em;
}

.tags-title {
  font-family: 'Wire One';
  font-size: 1.5em;
  color: coral;
  max-width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.tags-banner {
  background-color: black;
  max-width: 500px;
  letter-spacing: .05em;
  margin-left: auto;
  margin-right: auto;
}

.tags {
  font-family: 'Wire One';
  font-size: 1.5em;
  font-weight: 700;
  color: coral;
  padding-top: 1em;
  letter-spacing: 0.15em;
}

a{
  text-decoration: none;
  color: black;
}

.bubble-title {
  padding-top: 1.8em;
  font-weight: 300;
}


hr {
  border: 0;
  height: 1px;
  padding-top: 0.5em;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), coral, rgba(0, 0, 0, 0));
}

/* Footer */

.footer {
  background-color: slateblue;
  height: 45em;
}

.connect-div {
  background-color: black;
  padding-bottom: -15em;
}

.connect {
  color: slateblue;
  font-weight: 600;
  margin-bottom: -0.5em;
}

#connect-git, #connect-behance, #connect-linked {
  display: inline-block;
}

#git-connect-img, #behance-connect-img, #linked-connect-img {
  margin-top: 5em;
  margin-bottom: 3em;
  margin-right: 1em;
}

#black {
  background-color: black;
  max-width: 16.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  height: 2em;
}

.form {
  font-family: 'Wire One';
}

.form input, .form textarea {
  border: 2px solid lightgray;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 14em;
  font-family: 'Wire One';
  font-size: 1.5em;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.form-heading {
  font-size: 1.55em;
}

#submit-button {
  border: none;
  color: slateblue;
  width: 5em;
  background-color: black;
}

#submit-button:hover {
  cursor: pointer;
}


